.boxClose{
  position: absolute;
  top: 15px;
  right: 15px;
}

.boxClose svg, .boxClose path{
  font-size: 20px;
  color: var(--bg5);
  cursor: pointer;
}

.formLabel{
  font-weight: 600 !important;
  color: gray !important;
  background-color: azure !important;
}
